body {
  margin: 0 !important;
  overflow: hidden;         /* Hide scrollbars when resizing */
  background-color: black;  /* Match YT black background when resizing */
}

/* Inspired by https://stackoverflow.com/questions/24579785 */
#tm-yt-player {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
