[submodule "LibUtils"]
	path = LibUtils
	url = git@bitbucket.org:ralfoide/libutils.git
[submodule "external/LibRTSP"]
	path = external/LibRTSP
	url = https://github.com/tyazid/RTSP-Java-UrlConnection.git
